nvim/plugged/

opera/

discord/

Mailspring/

Condution/

mac-conf/coc/extensions/node_modules/

chromium/

./chromium/*

chromium/*

./chromium/

coc

coc/

./coc/
coc/*
./coc/*

obsidian
obsidian/*
syncthing
syncthing/*

yarn/

yarn/*
