nvim/plugged/

opera/

discord/

Mailspring/

Condution/

mac-conf/coc/extensions/node_modules/

chromium/

./chromium/*

chromium/*

./chromium/

coc

coc/

./coc/
coc/*
./coc/*

obsidian
obsidian/*
syncthing
syncthing/*

yarn/

yarn/*

BetterDiscord/
bioservices/
blender/
cef_user_data/

Electron/

gh/
github-copilot/
google-chrome/
google-chrome-beta/
gtk-2.0/
gtk-3.0/
matplotlib/
nextjs-nodejs/
obs-studio/
obsidian/
opera/
QtProject.conf
zoomus.conf
